body {
  margin: 0;
}

.hero-mobile {
  width: 100vw;
}

.hidden-mobile {
  display: none;
}

@media only screen and (min-width: 992px) {
  .hero-desktop {
    width: 100vw;
  }
  .hidden-desktop {
    display: none;
  }

  .hidden-mobile {
    display: block;
  }
}
