.hero {
  background-image: src("./hero-mobile.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

@media only screen and (min-width: 992px) {
  .hero {
    background-image: src("./hero-desktop.jpeg");
  }
}
